<div class="container-fluid" style="background-color: #f5f5f5">
  <footer
    class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 mt-5 border-top justify-content-center"
  >
    <div class="col d-none d-md-block">
      <a
        href="/"
        class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
      >
        <img src="/assets/img/logo.png" style="width: 200px" />
      </a>
    </div>

    <!-- <div class="col mb-3">saaa</div> -->

    <!-- <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">About</a>
        </li>
      </ul>
    </div> -->

    <div class="col-5 mb-3">
      <h5>Services</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/services" class="nav-link p-0 text-body-secondary"
            >Wedding Planning</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/services" class="nav-link p-0 text-body-secondary"
            >Event Planning</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/services/#packages" class="nav-link p-0 text-body-secondary"
            >Packages</a
          >
        </li>
      </ul>
    </div>

    <div class="col-5 mb-3">
      <h5>Portfolio</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/portfolio/lighting" class="nav-link p-0 text-body-secondary"
            >Lighting</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/portfolio/weddings" class="nav-link p-0 text-body-secondary"
            >Weddings</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            href="/portfolio/corporate"
            class="nav-link p-0 text-body-secondary"
            >Corporate Events</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            href="/portfolio/quinceaneras"
            class="nav-link p-0 text-body-secondary"
            >Quinceañeras</a
          >
        </li>
      </ul>
    </div>
  </footer>
  <div class="row text-center">
    <div class="col">
      <p class="text-body-secondary fs-6 mb-5">
        © 2023 Cre8tiveLA Wedding and Events
      </p>
    </div>
  </div>
</div>

<!-- End Footer -->
