<div class="container-fluid" style="background-color: #f5f5f5">
  <footer
    class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 mt-5 border-top justify-content-center"
  >
    <div class="col mb-3">
      <a
        href="/"
        class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
      >
        <img src="/assets/img/logo.png" style="width: 200px" />
      </a>
      <p class="text-body-secondary fs-6">© 2023 Cre8tive Wedding and Events</p>
    </div>

    <!-- <div class="col mb-3">saaa</div> -->

    <!-- <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">About</a>
        </li>
      </ul>
    </div> -->

    <div class="col mb-3">
      <h5>Services</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/services" class="nav-link p-0 text-body-secondary"
            >Wedding Planning</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/services" class="nav-link p-0 text-body-secondary"
            >Event Planning</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/services/#packages" class="nav-link p-0 text-body-secondary"
            >Packages</a
          >
        </li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Portfolio</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/portfolio/lighting" class="nav-link p-0 text-body-secondary"
            >Lighting</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/portfolio/weddings" class="nav-link p-0 text-body-secondary"
            >Weddings</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            href="/portfolio/corporate"
            class="nav-link p-0 text-body-secondary"
            >Corporate Events</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            href="/portfolio/ceremonies"
            class="nav-link p-0 text-body-secondary"
            >Ceremonies</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            href="/portfolio/quinceaneras"
            class="nav-link p-0 text-body-secondary"
            >Quinceañeras</a
          >
        </li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Book Now</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/contact" class="nav-link p-0 text-body-secondary"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </footer>
</div>

<!-- Footer -->
<footer class="footer d-none" id="footer" style="background-color: white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="copyright"
          >Copyright &copy; Cre8tive Wedding and Events 2023</span
        >
      </div>
      <!-- Social Media -->
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com">
              <i class="fab fa-twitter"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="https://facebook.com">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="https://linkedin.com">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="https://github.com/raviriley/agency-jekyll-theme">
              <i class="fab fa-github"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="https://instagram.com">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- Legal -->
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="legal">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- End Footer -->
